@import "tailwindcss";


@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* 👇 Add this manually */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}