.HeadPanel{
    width: 90rem;
    height: 6.25rem;
    flex-shrink: 0;
    background: #F8F8F8;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
    display: flex;
}

.HeadPanelLeft{

}

.HeadPanelCentre{
    width: 2.25rem;
    height: 2.25rem;
    flex-shrink: 0;
}

.HeadPanelRight{
    
}

.SearchButton{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;

}

.Date{
    color: #3ABEFF;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Day{
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.SearchBox{
    width: 43.4375rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #F5F8FF;
    box-shadow: -26px 108px 31px 0px rgba(0, 0, 0, 0.00), -17px 69px 28px 0px rgba(0, 0, 0, 0.01), -9px 39px 24px 0px rgba(0, 0, 0, 0.02), -4px 17px 18px 0px rgba(0, 0, 0, 0.03), -1px 4px 10px 0px rgba(0, 0, 0, 0.04);
}

.Dashboard{
    color: #FF6767;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.board{
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}